<form #rp10Form="ngForm" class="form">

  <p>
    <code>
      {{diagnostic}}
    </code>
  </p>

  <div class="form-control">
    <label>Today's repeats ___'s</label>
    <md-select class="form-control" [(ngModel)]="model.todaysRepeats" name="todaysRepeats">
      <md-option *ngFor="let repeat of repeatChoices" [value]="repeat">{{repeat}}</md-option>
    </md-select>
  </div>

  <md-input-container class="form-control">
    <label># of reps</label>
    <input mdInput [(ngModel)]="model.ofReps" type="text" name="ofReps">
  </md-input-container>

  <md-input-container class="form-control">
    <label># of seconds rest per repeat</label>
    <input mdInput [(ngModel)]="model.secondsRestPerRepeat" type="text" name="secondsRestPerRepeat">
  </md-input-container>

  <md-input-container class="form-control">
    <label>Up to 10 goal times (with distance)</label>
    <textarea mdInput [(ngModel)]="model.goalTimes" name="goalTimes"></textarea>
  </md-input-container>

  <md-radio-group class="form-control radio-group" [(ngModel)]="model.myGoalTimeIsFor" name="myGoalTimeIsFor">
    <label class="radio-group-label">My goal time is for:</label>
    <md-radio-button *ngFor="let poolLength of poolLengthChoices" [value]="poolLength">
      {{poolLength}}
    </md-radio-button>
  </md-radio-group>

  <md-radio-group class="form-control radio-group" [(ngModel)]="model.todayMyTrainingPoolIs" name="todayMyTrainingPoolIs">
    <label class="radio-group-label">Today my training pool is:</label>
    <md-radio-button *ngFor="let poolLength of poolLengthChoices" [value]="poolLength">
      {{poolLength}}
    </md-radio-button>
  </md-radio-group>

  <button class="form-control" md-raised-button type="submit">
    Submit
  </button>


</form>
