/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// primary: #0e5a64
// accent: #99c5c3
$rp10-app-primary: mat-palette($mat-teal, 900);
$rp10-app-accent:  mat-palette($mat-blue-grey, 300);

// The warn palette is optional (defaults to red).
$rp10-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$rp10-app-theme: mat-light-theme($rp10-app-primary, $rp10-app-accent, $rp10-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rp10-app-theme);

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

label {
  display: block;
  font-weight: bold;
}

.mat-radio-label {
  font-weight: normal;
}

img {
  max-width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 2rem;
  max-width: 640px;
  width: 85%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.left-side {
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    padding-right: 1rem;
    width: 50%;
  }
}

.right-side {
}


.logo {
  background-color: white;
  border-radius: 50%;
  height: 45px;
  margin-right: 0.5rem;
  width: 45px;
}

  .logo-img {
    transform: scale(0.75)
  }

.message {
}

.message--error {
  color: red;
}

.message--success {
  color: #0e5a64;
}
